/*-----------------FONTS----------------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,800);
@import url(https://fonts.googleapis.com/css?family=Arimo);


h1,
h3,
h4,
small {
    font-family: 'Arimo', sans-serif;
}

p {
    font-family: 'Raleway';
}

.btn-awesome {
    color: #fff;
    background-color: #008344;
    border-color: #f8f8f8;

}



/************ NAVBAR ***********************/

.navbar-default {
    
    /*background-color:rgba(207,142,10,0.7);*/
    background-color:rgba(20,20,20,0.9);
    /*transition: background-color 1s ease 0s;*/
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -97px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-family:"Raleway";
    font-weight:600;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-top:40px;
    padding-bottom:25px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:visited {
    color: #777;
    font-family:"Raleway";
    font-weight:600;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(255,255,255,0.7);
    border-bottom: 4px solid #00834;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #e7e7e7;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 28px;
    clear: both;
    font-family:"Raleway";
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.logo {
    background: url('../images/cltLogo_no_text.png');
    background-size:cover;
    background-width:100%;

}

.logo-size {
    width: 165px;
    height: 200px;
    margin: 0 auto;
    margin-top: -20px;
    /*background-image: url(../images/cltLogo-noGreen.png);*/
     background-image: url(../images/cltLogoFinal.png);
}

.logo-size img {
    vertical-align: top;
}

@media(max-width: 767px) {

    .navbar-default {
      
        /*background-color:rgba(255,255,255,0.7);*/
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;

    }
    .navbar-brand-centered {
        left: 0%;
    }

    .navbar-header {
        height: 80px;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: 0px;
    }

    .logo-size {
        width:80px;
        height:80px;
        background-image: url(../images/logo-sm2.png);
        margin-top: -15px;
    }

    .navbar-default .navbar-nav>li>a {
    color: #777;
    font-family:"Raleway";
    font-weight:600;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-top:5px;
    padding-bottom:5px;
}



}


/*************Slider ****************/

#slide1,
#slide2,
#slide3 {
    background-size: cover;
    background-attachment: no-repeat fixed;
    background-position: 50% 50%;
    border-bottom: 1px solid white;
}

#slide1{
    background-image: url(../images/full-slider/intro-bg.jpg);
    padding: 1% 0 0 0;
}
#slide2{
    background-image: url(../images/full-slider/intro-cato.jpg);
    padding: 1% 0 0 0;
}
#slide3{
    background-image: url(../images/full-slider/intro-bg3.jpg);
    padding: 1% 0 0 0;
}

.slide h1 {
    color: white;
    font-size: 3.1em;
    font-weight: 800;
    font-family:"Raleway";
    text-shadow: 2px 2px 2px black;
}

.slide h3 {
    color: white;
    font-size: 2.1em;
    font-weight: 800;
    font-family:"Raleway";
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.slide i {
    color:white;
    text-shadow: 1px 1px 1px black;
}


.slide-logo {
    height: 100px;
    width: 108px;
}

.section {
    text-align: center;
}

@media(max-width:767px) {
    .slide-logo {
        height: 100px;
        width: 108px;
    }

    .slide .arrowScroll {
        display: none;
    }


}

/*********************Home Page************************/

.middleBack {
    background:url(../images/clt/midback.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
    background-color: black;
    border-top:1px solid white;
    color: white;
    padding-bottom: 10px;
}

.middleBack img {
    margin:15px;
    border:1px solid white;
}

.smallAlign {
    text-align:center;
}

.frontBlocks {
    color: black;
}

.frontBlocks img {
    padding:15px 15px 15px 0px;
}

@media(max-width:991px) {
    .middleBack img,
    .frontBlocks img,
    .circlePad img {
        margin: 0 auto;

    }
}

/**************** Map********************/

   .map-wrap {
        position: relative;
        padding-bottom: 25%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .map-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


/********************** Pages ************************/
.aboutBanner {
    background:url(../images/clt/about2.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.contactBanner {
    background:url(../images/clt/contact.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.featuredBanner {
    background:url(../images/clt/featured.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.inventoryBanner {
    background:url(../images/clt/inventory.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.involvedBanner {
    background:url(../images/clt/involved.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.donateBanner {
    background:url(../images/clt/donate.jpg) no-repeat center center fixed;
    background-size:cover;
    background-width:100%;
}

.banner {
    min-height:400px;
    color: #f8f8f8;

}

.banner-text {
    text-shadow: 1px 1px 1px black;
}
.banner-text h1 {
    margin-top: 125px;
    font-weight:700;
}

.banner p {

}

.circlePad {
    padding-top:25px;
}

.squarePad {
    padding-top: 55px;
}

@media(max-width:767px) {
    .squarePad {
        padding-top:0px;
        margin-top: -20px;
    }
}

@media(max-width:525px) {
    .squarePad {
        padding-top:10px;
        margin-top: 10px;
    }
}

.pageMain {
    margin-top: 20px;
    padding-left:15px;
    border-left: 1px solid #ddd;
}

.pageSide {
    padding-left:15px;
    border-left:1px solid #ddd;
}

.aboutPage {
    background:url(../images/clt/aboutDark.jpg) no-repeat center center fixed;
}

.contactPage {
    background:url(../images/clt/contactDark.jpg) no-repeat center center fixed;
}

.donatePage {
    background:url(../images/clt/donateDark.jpg) no-repeat center center fixed;
} 

.featuredPage {
    background:url(../images/clt/featuredDark.jpg) no-repeat center center fixed;
}

.inventoryPage {
    background:url(../images/clt/inventoryDark.jpg) no-repeat center center fixed;
}

.involvedPage {
    background:url(../images/clt/involvedDark.jpg) no-repeat center center fixed;
}

.middlePage {
    background-size:cover;
    background-width:100%;
    background-color: black;
    border-top:1px solid white;
    color: white;
    padding-bottom: 10px;
}

@media(max-width:767px) {
    .banner {
        display:none;
    }

    .middlePage {
        margin-top:80px;
    }

    .pageSide {
        border: none;
    }

}

/******************   FOOTER   **********************/


.footStyle {
    
    background-size:cover;
    background-width:100%;
    background-color: black;
    color: #f8f8f8;
}

.lowFoot {
    margin-top:15px;
    background-color:rgba(0,0,0,.6);
    border-top:1px solid white;
}

.lowfoot p,
.lowfoot a {
    padding:10px;
}

/*  Google */


.google-maps {
        position: relative;
        margin-top: 20px;
        padding-bottom: 50%; // This is the aspect ratio
        height: 0;
        overflow: hidden;

    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 90% !important;
        height: 80% !important;
    }

@media (max-width: 991px) {
  .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width: 767px) {
   .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 90% !important;
        height: 70% !important;
    }

  }

  @media (max-width: 509px) {
   .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

  }